<div class="row">
  <div *ngIf="checkoutProducts.length === 0" class="text-center w-100 p-5">
    <div class="d-flex justify-content-center">
      <div class="h2">
        <i class="fa fa fa-shopping-cart"></i>
        Your Shopping Cart is Empty
      </div>
    </div>
    <a [routerLink]="'/'" class="btn btn-outline-primary mt-3">Continue Shopping</a>
  </div>
  <div class="col-md-8 mt-3">
    <div *ngFor="let item of checkoutProducts | productFilter: searchQuery">
      <div class="border p-2 mb-2 bg-white">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-4 col-md-3 col-lg-3">
            <img class="w-100" src="{{item.img_url}}">
          </div>
          <div class="col-8 col-md-9 col-lg-9">
            <div class="row">
              <div class="col-md-4 col-12">
                <span class="d-block">{{item.name}}</span>
                <div class="d-flex justify-content-between my-2">
                  <span class="font-weight-bold">
                    <i class="fa fa-inr" aria-hidden="true"></i> {{item.price}}
                  </span>
                  <span>{{item.discount}}</span>
                  <span class="text-success font-weight-bold">{{((item.discount/item.price)*100).toFixed(0)}}%
                    off</span>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <app-add-more [product]="item" (qantityChange)="onQantityChange($event)"></app-add-more>
              </div>
              <div class="col-12 col-md-4 text-left">
                <button class="btn btn-link px-0" (click)="removeFromCart(item)">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="bg-white" *ngIf="checkoutProducts.length > 0">
      <h6 class="text-uppercase mb-1 border-bottom p-2">Price Details</h6>
      <div class="p-2" *ngFor="let item of checkoutProducts">
        <div class="row">
          <span class="col-6">Price ({{item.quantity}} Item)</span>
          <span class="col-1">:</span>
          <span class="col-4 text-right"><i class="fa fa-rupee mr-1"></i>{{item.price * item.quantity}}</span>
        </div>
        <div class="row pt-2">
          <span class="col-6">Discount</span>
          <span class="col-1">:</span>
          <span class="col-4 text-right"><i class="fa fa-rupee mr-1"></i>{{item.discount * item.quantity}}</span>
        </div>
      </div>
      <div class="p-2 border-top">
        <div class="row font-weight-bold">
          <span class="col-8">Totol Payable</span>
          <span class="col-4 text-right"><i class="fa fa-rupee mr-1"></i>{{totalPrice - discount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
