<div class="row">
  <div class="col-lg-2 d-none d-sm-block">
    <div class="py-3 d-none d-lg-block">
      <span class="font-weight-bold d-block">Filter</span>
      <app-filter (applyFilterEvent)="onApplyFilter($event)"></app-filter>
      <div class="text-center">
        <button class="btn btn-primary btn-sm font-weight-bold" (click)="applyFilter()">Apply</button>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-12">
    <div class="py-3 d-none d-lg-block">
      <app-sortby></app-sortby>
    </div>
    <div class="d-block d-md-none font-weight-bold d-flex justify-content-around">
      <span class="py-3 d-block" data-toggle="modal" data-target="#sortBy">
        <i class="fa fa-sort mr-2"></i>
        Sort By</span>
      <span class="py-3 d-block" data-toggle="modal" data-target="#filter"><i class="fa fa-filter mr-2"></i>Filer</span>
    </div>
    <div class="modal fade" id="sortBy" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog mt-5 d-flex justify-content-center" role="document">
        <div class="col-9">
          <div class="modal-content rounded-0">
            <div class="modal-body p-0">
              <app-sortby></app-sortby>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog mt-5 d-flex justify-content-center" role="document">
        <div class="col-9">
          <div class="modal-content rounded-0">
            <div class="modal-body p-0">
              <div class="p-2">
                <h6 class="mb-23">Filter Options</h6>
                <app-filter (applyFilterEvent)="onApplyFilter($event)"></app-filter>
              </div>
              <div class="row border-top m-0">
                <div class="col-6 pl-0 text-center border-right">
                  <button type="button" class="btn btn-link btn-sm p-0 pb-1 font-weight-bold"
                    data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-6 pr-0 text-center">
                  <button type="button" class="btn btn-link btn-sm font-weight-bold pb-1 p-0"
                    (click)="applyFilter()">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="product" *ngFor="let item of products">
        <app-product [item]="item"></app-product>
      </div>
    </div>
  </div>
</div>
