<span class="sortby d-none d-lg-block">
  <span class="font-weight-bold">Sort By</span>
  <a class="ml-4 pointer" [ngClass]="{'active-sortby' : isCurretSorting('HIGH_LOW')}"
    (click)="doSorting('HIGH_LOW')">Price --
    High Low</a>
  <a class="ml-4 pointer" [ngClass]="{'active-sortby' : isCurretSorting('LOW_HIGH')}"
    (click)="doSorting('LOW_HIGH')">Price -- Low
    High</a>
  <a class="ml-4 pointer" [ngClass]="{'active-sortby' : isCurretSorting('DISCOUNT')}"
    (click)="doSorting('DISCOUNT')">Discount</a>
</span>

<div class="d-block d-md-none">
  <div class="p-2">
    <h6 class="mb-23">Sort Options</h6>
    <form [formGroup]="userForm">
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]=" SortBy.HIGH_LOW" formControlName="sortOption"
          name="sortOption" id="highLow">
        <label class="form-check-label" for="highLow">
          Price -- High Low
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="SortBy.LOW_HIGH" formControlName="sortOption"
          name="sortOption" id="lowHigh">
        <label class="form-check-label" for="lowHigh">
          Price -- Low High
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="SortBy.DISCOUNT" formControlName="sortOption"
          name="sortOption" id="discount">
        <label class="form-check-label" for="discount">
          Discount
        </label>
      </div>
    </form>
  </div>
  <div class="row border-top m-0">
    <div class="col-6 pl-0 text-center border-right">
      <button type="button" class="btn btn-link btn-sm p-0 pb-1 font-weight-bold" data-dismiss="modal">Cancel</button>
    </div>
    <div class="col-6 pr-0 text-center">
      <button type="button" class="btn btn-link btn-sm font-weight-bold pb-1 p-0"
        (click)="doSorting(radioSelected)">Apply</button>
    </div>
  </div>
</div>
