.search-container {
  position: relative;
  width: 300px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    transition: all 1s;
    z-index: 4;
    &:hover {
      cursor: pointer;
    }
  }
  input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 30px;
    outline: none;
    border: none;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    border-bottom: 1px solid #fff;
    background: none;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 200px;
      opacity: 1;
      cursor: text;
      padding: 0 5px;
      color: #fff;
      border-radius: 0px;
    }
    &:focus ~ .search {
      z-index: 6;
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
    }
  }
}
